.popular {
    margin-top: 60px;

    &-title {
        font-weight: 700;
        font-size: 28px;
        color: $text;

        span {
            background-color: $grey;
            padding: 6px 8px 6px 74px;
            color: $blue;

            @media (max-width: 768px) {
                padding-left: 30px;
            }
        }
    }

    &__list {
        margin-top: 36px;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        row-gap: 32px;
        column-gap: 18px;

        @media (max-width: 1400px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (max-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 576px) {
            row-gap: 18px;
        }
    }

    &__card {
        width: 100%;
        border: 1px solid $grey;
        transition: .2s all;
        border-radius: 8px;

        @media (min-width: 768px) {
            &:hover {
                transition: .2s all;
                box-shadow: 0 0 15px 4px $grey-09;

                .popular__card-img {
                    img {
                        transition: .4s all;
                        transform: scale(1.05);
                    }
                }
            }
        }

        &-img {
            width: 100%;
            height: 240px;
            overflow: hidden;
            border-radius: 8px 8px 0 0;

            @media (max-width: 576px) {
                height: 190px;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
                transition: .2s all;
            }
        }

        &-content {
            padding: 12px 8px 8px;
        }

        &-name {
            font-size: 13px;
            line-height: 16px;
            font-weight: 400;
            max-height: 32px;
            overflow: hidden;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            text-overflow: ellipsis;
            color: $text;
        }

        &-price {
            margin-top: 8px;
            font-size: 16px;
            line-height: 16px;
            font-weight: 600;
        }

        &-btn {
            width: 100%;
            text-align: center;
            display: block;
            padding: 10px 0;
            margin-top: 4px;
            background-color: $blue;
            color: $grey;
            border-radius: 0 0 8px 8px;
            position: relative;

            h3 {
                position: relative;
                z-index: 5;
                font-weight: 400;
                transition: .3s all;
                font-size: 16px;

                @media (max-width: 576px) {
                    font-size: 14px;
                }
            }


            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 100%;
                top: 0;
                left: 0;
                background-color: $grey;
                z-index: 3;
                transition: .3s all;
            }

            @media (min-width: 768px) {
                &:hover {
                    color: $text;
                    transition: .3s all;
                    transition-delay: .3s;

                    &::after {
                        width: 100%;
                        transition: .3s all;
                        transition-delay: .4s;
                    }
                }
            }
        }
    }
}