// Главный Sass файл

// Шрифты
// @import "fonts";

// variables
@import 'variables/variables';


// themes
@import 'themes/theme',
'themes/admin';

// abstracts
@import 'abstracts/mixins';


// layout
@import 'layout/header',
'layout/banner';

// components
@import 'components/buttons',
'components/carousel',
'components/dropdown';

// pages
@import 'pages/home';